compiled.php
config.php
down
events.scanned.php
maintenance.php
routes.php
routes.scanned.php
schedule-*
services.json
node_modules

# Environment & secrets
.env
.env.backup
.env.production

# Laravel generated
/vendor
/public/hot
/public/storage
/storage/*.key
/storage/logs/*.log
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views
bootstrap/cache/*.php

# Build artifacts
/public/build

# OS files
.DS_Store
Thumbs.db
